ALTER TABLE AP_DIJANA.TCX_OBJECT_HISTORY ADD (
  CONSTRAINT TCX_OBJHIST_OBJ_PROJ_FK 
  FOREIGN KEY (CONFIG_ID, PROJECT_ID, OBJECT_ID) 
  REFERENCES AP_DIJANA.TCX_OBJECTS (CONFIG_ID, PROJECT_ID, OBJECT_ID));
